// BubbleText.scss
.bubble-text {
    font-size: 12vw;
    font-weight: bold;
    background: linear-gradient(to right, #FF8199, #7FC9F8, #8089E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .transition-section {
    opacity: 0;
    // background: linear-gradient(to bottom, #c24ca0, #5b5bcf);
    background:#7FC9F8 ;
    transition: opacity 1.5s ease;
  }
  
  .transition-section.visible {
    opacity: 1;
  }
  

  .fadein-box p {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeUp 1s ease-out forwards;
  }
  
  .fadein-box .delay-1 {
    animation-delay: 0.3s;
  }
  .fadein-box .delay-2 {
    animation-delay: 0.6s;
  }
  .fadein-box .delay-3 {
    animation-delay: 0.9s;
  }
  .fadein-box .delay-4 {
    animation-delay: 1.2s;
  }
  
  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .fadeout-box {
    will-change: transform, opacity;
    transition: all 0.5s ease;
  }
  
  .fadeout-text {
    transform: translateY(0px);
    opacity: 1;
    transition: transform 0.8s ease, opacity 0.8s ease;
  }
  
  // JavaScript에서 scrollY 값에 따라 클래스 추가 시
  .fadeout-box.hidden .fadeout-text {
    transform: translateY(-50px); // 위로 밀림
    opacity: 0;
  }
  
  // 지연 애니메이션 (선택)
  .delay-1 { transition-delay: 0.1s; }
  .delay-2 { transition-delay: 0.2s; }
  .delay-3 { transition-delay: 0.3s; }
  .delay-4 { transition-delay: 0.4s; }
  